<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.system.mapper.CarouselMapper">
    
    <resultMap type="Carousel" id="CarouselResult">
        <result property="carouselId"    column="carousel_id"    />
        <result property="imgpath"    column="imgPath"    />
        <result property="describes"    column="describes"    />
    </resultMap>

    <sql id="selectCarouselVo">
        select carousel_id, imgPath, describes from carousel
    </sql>

    <select id="selectCarouselList" parameterType="Carousel" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        <where>  
            <if test="imgpath != null  and imgpath != ''"> and imgPath = #{imgpath}</if>
            <if test="describes != null  and describes != ''"> and describes = #{describes}</if>
        </where>
    </select>
    
    <select id="selectCarouselById" parameterType="Long" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        where carousel_id = #{carouselId}
    </select>
        
    <insert id="insertCarousel" parameterType="Carousel" useGeneratedKeys="true" keyProperty="carouselId">
        insert into carousel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imgpath != null and imgpath != ''">imgPath,</if>
            <if test="describes != null and describes != ''">describes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imgpath != null and imgpath != ''">#{imgpath},</if>
            <if test="describes != null and describes != ''">#{describes},</if>
         </trim>
    </insert>

    <update id="updateCarousel" parameterType="Carousel">
        update carousel
        <trim prefix="SET" suffixOverrides=",">
            <if test="imgpath != null and imgpath != ''">imgPath = #{imgpath},</if>
            <if test="describes != null and describes != ''">describes = #{describes},</if>
        </trim>
        where carousel_id = #{carouselId}
    </update>

    <delete id="deleteCarouselById" parameterType="Long">
        delete from carousel where carousel_id = #{carouselId}
    </delete>

    <delete id="deleteCarouselByIds" parameterType="String">
        delete from carousel where carousel_id in 
        <foreach item="carouselId" collection="array" open="(" separator="," close=")">
            #{carouselId}
        </foreach>
    </delete>
    
</mapper>